{% extends "base.html" %}

{% block content %}
<div class="content">
{{ section.content | safe }}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Struttura</th>
      <th scope="col">Città</th>
      <th scope="col">Tipo di ricovero</th>
    </thead>
  <tbody>
  {% for page in section.pages %}
  <tr>
    <td><a href="{{ page.permalink | safe }}">{{ page.title | title }}</a></td>
    <td>{{page.extra.city | capitalize}}</td>
    <td>
      {% if page.extra.is_nap %}
        <span class="tag is-warning">NAP</span>
      {% endif %}
      {% if page.extra.is_nat %}
        <span class="tag is-success">NAT</span>
      {% endif %}
      {% if page.extra.is_prima_fascia %}
        <span class="tag is-info">Prima fascia</span>
      {% endif %}
      {% if page.extra.is_nucleo_alzhaimer %}
        <span class="tag is-light">Nucleo alzhaimer</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
